/* Establecemos la fuente del texto */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* Eliminamos los márgenes del body */
    display: grid;
    /* Utilizamos grid layout para organizar los elementos de la página */
    grid-template-columns: 100px auto;
}

/* Establecemos una imagen de fondo para la cabecera, ajustamos su tamaño y posición */
header {
    background-image: url(header-bg-art-scale-4_00x-gigapixel.jpg);
    background-size: cover;
    
    

    /* Utilizamos grid layout para alinea el texto titulo */
    display: grid;
    grid-template-rows: 40% auto;

    /* Centramos los elementos vertical y horizontalmente */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Centramos el texto */
    padding: 20px;
    /* Añadimos padding a la cabecera */
    color: #d1c628;
    /* Color de texto de encab*/
    font-family: 'Inter', sans-serif;
    font-size: large;
    text-shadow: 2px 2px rgb(51, 73, 192);
    height: 300px;

    /* Establecemos el grid area para la cabecera */
    grid-row: 1/2;
    grid-column: 1/3;
}

    /* Establecemos el grid area para el titulo en la cabecera */
    header h1 {
        grid-row: 1/2;
    }

/* Establecemos el grid area para el div del logo */
#logodiv {
    background-color: rgb(119, 201, 248);
    height: 120px;
    grid-row: 2/3;
    grid-column: 1/2;

    /* Utilizamos grid layout para centrar el logo dentro del div */
    display: grid;
}

/* Limitamos el tamaño del logo y centramos el mismo */
#logodiv>img {
    max-height: 100px;
    width: 100%;
    align-self: center;
    justify-self: center;
}

/* Establecemos un color de fondo para la barra de navegación, el color del texto */
nav {
    background-color: #333;
    color: white;
    /* Añadimos padding superior e inferior, centramos los elementos horizontal y verticalmente */
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    /* Utilizamos flexbox para organizar los elementos de la barra de navegación */
    display: flex;
    /* Hacemos que la barra de navegación sea "sticky" (se mantenga visible en todo momento) */

    position: sticky;
    top: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    width: 100%;

    height: 100px;

}

nav a {
    color: white;
    /* Establecemos el color del texto de los enlaces */
    text-decoration: none;
    /* Eliminamos la subraya de los enlaces */
    border: 3px solid #282323;
    border-radius: 15px;

    background-color: #4a4a4a;
    padding: 15px 25px 15px 25px;

    transition: color 0.2s;
    /* Establecemos una transición para el color de los enlaces */

    width: 150px;
    font-weight: bolder;
}

nav a:visited {
    color: rgb(49, 35, 49);
    /* Cambiamos el color del texto cuando el enlace fue previamente visitado*/
}

nav a:hover {
    color: gray;
    /* Cambiamos el color del texto cuando el ratón está sobre el enlace */

}

nav a:active {
    color: black;
    /* Cambiamos el color del texto cuando se hace clic en el enlace */
}



nav ul {
    list-style: none;
    text-align: center;
    padding: 0 0 0 0;
    /* quitamos el padding de la lista */
    display: inherit;
    justify-content: center;
}

nav li {
    margin: 0% 5% 0% 5%;
    display: inherit;
    align-items: center;
}




main {
    display: inherit;
    /* Utilizamos flexbox para organizar los elementos de la página principal */
    /* Centramos los elementos horizontalmente */
    grid-row: 3;
    grid-column: 2;

    background-image: url(endless-constellation.png);
    background-repeat: repeat;
    background-attachment: fixed;
    color: white;
    background-size: 110px;
}



article {
    text-align: center;
    /* alineación de texto justificada */
    line-height: 1.5;
    /* interlineado de 1.5 */
    text-indent: 15px;
    /* sangría en primera línea de párrafo de 1em */
    font-family: 'Arial', sans-serif;
    /* tipo de fuente Arial para el título y cuerpo del texto */
    
    font-size: 16px;
    /* tamaño de fuente de 16px para el cuerpo del texto */
    margin: 0 auto;
    /* márgenes automáticos */
    
    padding: 2%;
}

/* Estilo específico para el título */
article h2 {
    font-size: 30px;
    /* tamaño de fuente para el título */
}

video {
    width: 100%;
}

#articulo1div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 30px;
    background-color: rgb(1, 1, 20);
}

#articulo1div img {
    width: 100%;
    margin: 10px;
}

.imgmaxancho img {
    width: 100%;
}


#ultimaseccion{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    border: 10px ridge rgb(92, 7, 7);
    
    border-radius: 25px;
    margin: 0 10px 0 10px;
    padding: 10px;
}
    #ultimaseccion #ultart1 {
        grid-row: 1;
        grid-column: 1/4;
        
        text-align: justify;
    }

    #ultimaseccion #ultimg1 {
        max-width: 100%;
        max-height: 100%;
        grid-row: 1;
        grid-column: 4;
        justify-self: center;
    }

    #ultimaseccion #ultart2 {
        grid-row: 2;
        grid-column: 2/5;
        text-align: justify;
    }

    #ultimaseccion #ultimg2{
        max-width: 100%;
        max-height: 100%;
        grid-row: 2;
        grid-column: 1/2;
        justify-self: center;
    }



#acerca{    
    padding:10% 20% 20% 20%;    
}


#formulario{
    width: 60%;
    justify-self: center;
    padding-top: 5%;
}

fieldset {
    padding: 20px;
    width: 100%;
}

.itemsform {
    width: 100%;
    height: 15px;
}

#textarea {
    height: 100px;
}

#enviar {
    height: 30px;
    width: 100%;
}


aside {
    background-color: #0b3d91;

    color: white;

    font-family: 'Arial', sans-serif;
    font-size: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


    grid-row: 3/4;
    grid-column: 1/2;

    position: sticky;
    top: 0;


}

aside div {
    background-color: #0b3d91;
   
    color: white;

    font-family: 'Arial', sans-serif;
    font-size: 10px;
    text-align: center;
 

    position: sticky;
    top: 0;
    height: 1000px;

}

aside h3 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

aside img {
    width: 60%;
    margin-top: 50%;
    border-radius: 5px;
}


footer {
    color: #fff;
    background-color: rgb(20, 20, 20);
    text-align: center;
    padding: 16px 0 16px 0;
    grid-column: 1/3;
    grid-row: 4;
    z-index: 1; /* superponemos el footer por encima del resto de elementos (aside)*/
    width: 100%;
}

/* RESPONSIVIDAD */

@media (max-width: 982px) and (min-width: 684px) {

    


    /* centrar fondo header cuando cambia tamaño*/
    header{
        background-position: center;
    }

    /*aside cambia tamaño*/
    body {
        grid-template-columns: 10% auto;
    }

    /*botones nav se juntan*/
    nav li {
        margin:0;
    }
   
    /*cambiar grid ultimos 2 articulos*/
    #ultimaseccion {
                
        grid-template-rows: 1fr 160px 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        
    }
        #ultimaseccion #ultart1{
            grid-row:  1/2;
            grid-column: 1/3;

        }
        #ultimaseccion #ultimg1{
            grid-row:  2/3;
            grid-column: 1/2;
        }
        #ultimaseccion #ultimg2{
            grid-row:  2/3;
            grid-column: 2/3;
            
        }

        #ultimaseccion #ultart2{
            grid-row:  3/4;
            grid-column: 1/3;
        }
    

    article{
        font-size: 14px;
    }

    article h2 {
        font-size: 25px;
        /* tamaño de fuente para el título */
    }
    


}

@media (max-width: 684px)  {

    

    /* centrar fondo header cuando cambia tamaño*/
    header{
        background-position: center;
    }

    /*aside cambia tamaño*/
    body {
        grid-template-columns: 10% auto;
    }

    main{
        grid-column: 1/3;
    }


    
    /*botones en vertical*/
    nav{
        display: inline-grid;
        position: relative;
        height: auto;
        grid-column: 1/3;
    }       

        nav li {
            margin:0;
            padding: 10px;            
        }

        nav a {
            width: 250px;
        }


    /*aside debajo de los articulos*/
    aside{
        grid-row: 4/5;
        grid-column: 1/3;      
    }

    /*aside en horizontal*/
    aside div{
        position: relative;
        display: grid;
        grid-template-columns: 5;
        grid-template-rows: 30px 120px;
        height: 100px;
    }

    aside h3 {
        grid-row: 1;
        grid-column: 1/6;
        margin-top: 2px;
    }

        aside img{
            margin-top: 5px;
            max-height: 50px;
            max-width: 50px;
        }

        aside :nth-child(2) {
            grid-row: 2;
            grid-column: 1;
        }
        aside :nth-child(3) {
            grid-row: 2;
            grid-column: 2;
        }
        aside :nth-child(4) {
            grid-row: 2;
            grid-column: 3;
        }
        aside :nth-child(5) {
            grid-row: 2;
            grid-column: 4;
        }
        aside :nth-child(6) {
            grid-row: 2;
            grid-column: 5;
        }

    /*cambiar grid ultimos 2 articulos*/
    #ultimaseccion {
                
        grid-template-rows: 1fr auto auto 1fr;
        grid-template-columns: 1fr;
        align-items: baseline;
        text-align: justify;
        
    }
        #ultimaseccion #ultart1{
            grid-row:  1/2;     
            grid-column: 1;    
        }

        #ultimaseccion #ultimg1{
            grid-row:  2/3;   
            grid-column: 1;     
            
            max-height: auto;
            padding: 20px;
        }

        #ultimaseccion #ultimg2{
            grid-row:  3/4;  
            grid-column: 1;     
            max-height: auto;
            padding: 20px;
        }

        #ultimaseccion #ultart2{
            grid-row:  4/5;  
            grid-column: 1;             
        }

    footer{
        grid-row: 6/7;
    }   

    article{
        font-size: 12px;
    }

    article h2 {
        font-size: 20px;
        /* tamaño de fuente para el título */
    }
    
    
    
}

